.btn-h1-spacing {
    margin-top: 16px;
}

.form-spacing-top {
    margin-top: 20px;
}
.font-for-body {
    font-family: Times;
    font-size: 20px;
}
.space-remember {
    margin-left: 5px;
}

.btn-top-space{
    margin-top: 8px;
}
.btn-position {
    float: right;
}
.for-comment {
    color: #2c8aff;
}
.user-name {
    color: #39ff47; text-align: center;
}